.banner_parent {
  padding: 0 20px;
  margin-bottom: 20px;
  /* border: 2px solid #fff6eb; */
  /* border-radius: 5px; */
  /* min-height: calc(50vh - 10px); */
  /* min-height: 50vh; */
  /* box-sizing: border-box; */
  /* display: grid; */
  /* grid-template-columns: 1fr 100px; */
  /* background-image: url("../assets/banners/BG-texture-3-gradient.png"); */
  /* background-size: cover;
  background-position: bottom; */

  .banner_content {
    /* background-color: #fff6eb; */
    border-radius: 5px;
    text-align: right;

    /* min-height: calc(50vh - 20px); */
    /* display: flex;
    justify-content: flex-end;
    flex-direction: column; */
    /* -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15); */
  }

  /* .banner_left {
    color: #fff6eb;
  }
  .banner_right {
    color: blue;
  } */
}

.page_title {
  font-size: 100px;
  margin-left: -5px;
  color: #fff6eb;
  text-transform: uppercase;
  -webkit-text-stroke: 3px #693100;
}

.subnav_parent {
  /* background-color: #f6eadbb4; */
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 20px;
  background: rgb(246, 234, 219);
  background: -moz-linear-gradient(0deg, rgba(246, 234, 219, 0) 0%, rgba(246, 234, 219, 1) 77%, rgba(246, 234, 219, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(246, 234, 219, 0) 0%, rgba(246, 234, 219, 1) 77%, rgba(246, 234, 219, 1) 100%);
  background: linear-gradient(0deg, rgba(246, 234, 219, 0) 0%, rgba(246, 234, 219, 1) 77%, rgba(246, 234, 219, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6eadb",endColorstr="#f6eadb",GradientType=1);
}

.section_title {
  margin: 20px 0 10px 0;
}

.section_parent {
  padding: 20px;
}

.card_parent {
  background-color: #fff6eb;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
  padding: 20px;
  display: grid;
  opacity: 0.65;
  color: #693100;
  align-content: bottom;

  .card_content {
    align-self: end;

    .website_link {
      display: inline-block;
      margin-right: 20px;
      color: #693100;
      transition: color 0.5s ease;
    }

    .sample_link {
      display: inline-block;
      color: #693100;
      transition: color 0.5s ease;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.card_parent:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  opacity: 1;

  .sample_link {
    color: #ff4c00;
  }

  .website_link {
    color: #ff4c00;
  }
}

/* .card_parent:hover .sample_link {
  color: red;
}

.card_parent:hover .website_link {
  color: red;
} */
/* .gutter-row {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
} */
