.banner_parent {
  position: sticky;
  top: 0;
  padding: 0 20px;
  /* min-height: 75px; */
  box-sizing: border-box;
  /* padding: 0 20px;*/
  border-bottom: 0.5px solid #69310033;
  background-color: #f6eadb;
  z-index: 1000;
  background-image: url("../assets/banners/BG-texture-1.png");
}

.page_title {
  /* background-color: rgb(90, 90, 90); */
  /* font-size: 55px;
  line-height: 48px;
  margin-top: -6px; */
  color: #693100;
  text-transform: uppercase;
  transform: translateY(-2px);
  margin: 10px 0;
}

.subnav_parent {
  color: #693100;
  text-align: right;
}

.subnav_item {
  /* background-color: rgb(66, 128, 128); */
  display: inline-block;
  /* flex-grow: 1; */
  /* padding: 20px; */
  padding: 10px 20px;
  cursor: pointer;
  height: 75px;
  box-sizing: border-box;

  /* padding: 20px; */
}

.subnav_item:hover {
  /* background-color: #693100;
  color: white; */
  border-bottom: 1px solid red;
}

.section_title {
  margin: 20px 0 10px 0;
}

.section_parent {
  padding: 20px;
}

.card_parent {
  background-color: #fff6eb;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
  padding: 20px;
  display: grid;
  opacity: 0.65;
  color: #693100;
  align-content: bottom;

  .card_content {
    align-self: end;

    .website_link {
      display: inline-block;
      margin-right: 20px;
      color: #693100;
      transition: color 0.5s ease;
    }

    .sample_link {
      display: inline-block;
      color: #693100;
      transition: color 0.5s ease;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.card_parent:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  opacity: 1;

  .sample_link {
    color: #ff4c00;
  }

  .website_link {
    color: #ff4c00;
  }
}

/* .card_parent:hover .sample_link {
  color: red;
}

.card_parent:hover .website_link {
  color: red;
} */
/* .gutter-row {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
} */
