#root {
  /* background-color: #fff6eb; */
  margin: 0;
}

body {
  margin: 0;
}

/* .flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
} */

.side_nav_parent {
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  width: 75px;
  /* width: 225px; */
  height: 100vh;
  background-color: #fff6eb;
  box-sizing: border-box;
  transition: width 0.17s ease-in-out;
  /* flex */
}

.side_nav_parent:hover {
  width: 200px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.side_nav_content {
  /* border: 1px solid rgba(255, 0, 0, 0.147); */
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  .nav_header {
    /* background-color: #f6eadb; */
    background-color: #fff6eb;
  }
}

.nav_links_parent {
  /* background-color: #f6eadb;
  border-radius: 5px; */
  color: #693100;

  .nav_item {
    /* background-color: #f6eadb; */
    display: flex;
    color: #693100;
    overflow: hidden;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
  }

  .nav_item:hover {
    background-color: #693100;
    display: flex;
    color: #f6eadb;
    overflow: hidden;
    cursor: pointer;
    align-items: center;
  }

  .nav_item_icon {
    height: 55px;
    padding: 15px;
    box-sizing: border-box;
  }

  .nav_item_text {
    font-size: 16px;
    text-wrap: nowrap;
    /* line-height: 25px; */
    /* height: 55px; */
    /* padding: 15px; */
    /* box-sizing: border-box; */
  }
}

.nav_footer {
  background-color: #f6eadb;
  display: flex;
  color: #693100;
  overflow: hidden;
  cursor: pointer;
  align-items: center;

  .footer_icon {
    height: 55px;
    padding: 15px;
    box-sizing: border-box;
  }

  .footer_text {
    font-size: 16px;
    /* line-height: 25px; */
    /* height: 55px; */
    /* padding: 15px; */
    /* box-sizing: border-box; */
  }
}

/* Set all nav icon width */
.material-icons-round {
  /* font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24; */
  /* font-size: 55px;
  color: #ff4c00; */
  font-size: 25px;
}

.item-test {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.nav_item_parent {
  .nav_item {
    color: #693100;
    padding: 11px;
    border-radius: 5px;
    line-height: 16px;
    cursor: pointer;
  }

  .nav_item:hover {
    background-color: #693100;
    background-color: #ffe8b3;
    background-color: #ffb375;
    /* color: #fff6eb; */
  }
}

/* Title Navigation */
/* .nav_title_parent {
  padding: 20px;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;

  .nav_logo {
    background-color: white;
    line-height: 0;
  }

  .nav_title {
    margin-left: 10px;
    /* height: 30px; 
    font-size: 30px;
    line-height: 50px;
    font-weight: 600;
    color: #693100;
  }
} */

.main_content_parent {
  margin-left: 50px;
  padding: 20px;
  color: black;
}
