#root {
  /* background-color: #fff6eb; */
  margin: 0;
}

body {
  margin: 0;
}

.sidebar_nav_parent {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 225px;
  height: 100vh;
  background-color: #fff6eb;
  box-sizing: border-box;

  .nav_item_parent {
    color: #693100;
    padding: 11px;
    border-radius: 11px;
    line-height: 16px;
    cursor: pointer;
  }
  .nav_item_parent:hover {
    background-color: #693100;
    color: #fff6eb;
  }
}

.nav_title_parent {
  padding: 20px;
  display: grid;
  grid-template-columns: 50px 1fr;

  .nav_logo {
    background-color: white;
    line-height: 0;
  }

  .nav_title {
    margin-left: 10px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    color: #693100;
  }
}

.main_content_parent {
  margin-left: 225px;
  padding: 20px;
  color: black;
}
